body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#home .swiper-pagination-bullet {
  background-color: #54428f;
}
#home .swiper-pagination-bullet-active {
  background-color: transparent;
  border: solid 0.2px #54428f;
  position: relative;
}
#home .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: #54428f;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
#login .swiper-pagination-bullet {
  background-color: white;
}
.active {
  background-color: rgb(243 232 255 / 0.8);
  border-left: 3px solid rgb(147 51 234);
  border-right: 1px solid rgb(147 51 234);

  color: black !important;
}
.active span {
  color: rgb(147 51 234);
}
