body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#home .swiper-pagination-bullet {
  background-color: #54428f;
}
#home .swiper-pagination-bullet-active {
  background-color: transparent;
  border: solid 0.2px #54428f;
  position: relative;
}
#home .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: #54428f;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
#login .swiper-pagination-bullet {
  background-color: white;
}
#login .swiper-pagination-bullets {
  /* bottom: -10px; */
  /* position: absolute; */
}
/* .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
} */
